
.artistMenu {
  font-size: 2.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0 5rem 0 0;
  }
}

.artistMenu li.selected {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  cursor: default;
}

.artistImageGrid {
  margin: 5rem auto 0;
}

.artistBio {
  padding-bottom: 6rem;
  margin: 5rem auto 0;
}

.hidden {
  display: none;
}
