
@use 'foundation/colors' as c;
@use "foundation/breakpoints" as b;

footer {
  height: 30rem;
  background: rgba(c.$grey-050, 0.8);
  margin-top: 23rem;
  @include b.mq(sm) {
    margin-top: 12rem;
  }
}
