
@use 'foundation/colors' as c;
@use "foundation/breakpoints" as b;

footer {
  position: relative;
  background: rgba(c.$grey-050, 0.8);
  margin-top: 23rem;
  z-index: 1;
  @include b.mq(sm) {
    margin-top: 12rem;
  }
  p {
    font-size: 2rem;
    line-height: 1.4;
    padding-bottom: 1.3rem;
    a {
      background: transparent;
      font-weight: 400;
      color: inherit;
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-decoration-color: c.$grey-050;
      transition: text-decoration-color 0.3s ease-in-out;
      &:hover {
        background: transparent;
        color: inherit;
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        text-decoration-color: c.$grey-500;
        transition: text-decoration-color 0.3s ease-in-out;
      }
    }
    @include b.mq(md) {
      font-size: 2rem;
      padding-bottom: 0.6rem;
    }
  }
}

.footerContainer {
  display: grid;
  grid-template-columns: auto auto;
  width: 81.25%;
  // max-width: 108rem;
  margin: auto;
  padding: 5rem 0 1.3rem;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.copy {
  font-size: 2rem;
  @include b.mq(lg) {
    display: none;
  }
}
.smallCopy {
  font-size: 2rem;
  display: none;
  @include b.mq(lg) {
    display: block;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}

.footerRight {
  display: grid;
  justify-content: right;
  @include b.mq(lg) {
    gap: 2rem;
  }
  @include b.mq(sm) {
    justify-content: center;
  }
}

.signup {
  margin-top: -0.7rem;
}

.signupForm {
  display: block;
  margin-top: -0.8rem;
  text-align: right;
  @include b.mq(md) {
    text-align: left;
  }
}

.signupInput {
  background: white;
  border: 0;
  width: 48rem;
  height: 6rem;
  padding: 0.85em 1.5em;
  font-size: 2.2rem;
  border: 0.14em solid c.$grey-400;
  margin-top: -1rem;
  @include b.mq(md) {
    font-size: 2rem;
    width: calc(100% - 6rem);
  }
  @include b.mq(sm) {
    height: 5rem;
    padding: 0.85em 1em;
    width: calc(100% - 5rem);
  }
}

.signupSubmit {
  background: c.$grey-400;
  cursor: pointer;
  border: 0;
  height: 6rem;
  width: 6rem;
  padding: 1.2rem;
  transform: translateY(2.25rem);
  @include b.mq(md) {
    transform: translateY(2.35rem);
  }
  @include b.mq(sm) {
    height: 5rem;
    width: 5rem;
    transform: translateY(1.85rem);
  }
}

.signupHeading {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  margin-bottom: -4rem;
  text-align: right;
  @include b.mq(md) {
    font-size: 2rem;
    text-align: right;
  }
}

.funderLogos {
  display: flex;
  align-self: center;
  justify-content: right;
  @include b.mq(md) {
    justify-content: left;
  }
  @include b.mq(sm) {
    flex-direction: column;
  }
}

.logosRight {
  display: flex;
  justify-content: right;
  @include b.mq(sm) {
    margin-top: 2rem;
  }
}

.funderLogo {
  height: 6rem;
  width: auto;
  padding-left: 3rem;
  @include b.mq(md) {
    height: 5.2rem;
  }
}

.first {
  padding-left: 0;
}

.second {
  @include b.mq(sm) {
    padding-left: 0;
  }
}

.acw, .wg, .gtg {
  margin-top: 0;
}

.linksMenuContainer {
  align-self: end;
  padding-bottom: 3.5rem;
  @include b.mq(md) {
    display: none;
  }
}

.linksMenu {
  list-style: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  padding: 0;
  li {
    margin-top: 0;
    padding-left: 3rem;
    &:first-child{
      padding: 0;
    }
    a {
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-decoration-color: rgba(c.$grey-050, 0.8);
      transition: text-decoration-color 0.3s ease-in-out;
    }
    a:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-decoration-color: c.$grey-500;
      transition: text-decoration-color 0.3s ease-in-out;
    }
  }
}
