@use 'foundation/colors' as c;

header {
  margin-bottom: 10.5rem;
  position: relative;
}

.hero {
  height: 45rem;
  margin-bottom: 9.3rem;
  position: relative;
  margin: auto;
}

.heroImage {
  height: 100%;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.menuOverlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 27.5rem;
  margin-top: 0;
  background: c.$menu;
  z-index: 2;
}

.headerContainer {
  position: relative;
  max-width: 85rem;
  margin: auto;
}

.titleContainer {
  position: relative;
  display: inline-block;
  background: c.$primary;
  padding: 2.5rem 3.7rem 3.5rem;
  top: -10.5rem;
  left: 0;
  box-shadow: 4px 4px 20px 0 rgba(black, 0.6);
  z-index: 3;
}

.headerLogo {
  position: absolute;
  width: 45rem;
  bottom: -19%;
  left: -14%;
  z-index: 2;
}

.hamburgerContainer {
  cursor: pointer;
  height: 4.7rem;
  width: 5rem;
  margin: 2.9rem 2.5rem 0rem;
}

.hamburger {
  width: 5rem;
  height: 0.6rem;
  background: c.$footer;
  transition: transform 1.5s;
  &::before,
  &::after {
    content: "";
    display: block;
    background: c.$footer;
    width: 5rem;
    height: 0.6rem;
  }
  &::before {
    transform: translateY(1.45rem);
    transition: transform 1.5s;
  }
  &::after {
    transform: translateY(2.35rem);
    transition: width 1.5s;
  }
}

.active {
  transform: translateY(1.45rem) rotate(-45deg);
  transition: transform 1.5s;
  &::before {
    transform: rotate(90deg);
    transition: transform 1.5s;
  }
  &::after {
    width: 0;
    transition: width 1.5s;
  }
}

.languageSwitcher {
  color: c.$footer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 1.2rem 2.5rem 13.6rem;
  cursor: pointer;
  display: inline-block;
}

.social {
  margin: 0.8rem 3rem;
  width: 3.8rem;
}

.headerMenu {
  position: absolute;
  width: 120rem;
  height: 120rem;
  background: c.$bg;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  z-index: -1;
  right: calc(22.5rem - 60rem);
  bottom: -19.6rem;
  transition: clip-path 1.5s ease-in;
  ul {
    position: absolute;
    top: 47%;
    left: 21%;
    font-size: 2.5rem;
    color: c.$text;
    list-style: none;
    padding: 0 4rem;
    li {
      padding: 0.4rem 0;
      a:hover {
        border-bottom: 0.2rem solid c.$text;
      }
      &:first-child {
        font-weight: 700;
        font-size: 3.5rem;
        margin: 0 -7rem 1.5rem;
        a {
          color: c.$primary;
          &:hover {
            border: none;
            padding: 0.2rem 0 -0.2rem;
          }
        }
      }
    }
  }
}

.marker {
  width: 2px;
  height: 2px;
  position: absolute;
  background: cyan;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
}

.hidden {
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 1.5s ease-out;
}
