@use 'foundation/colors' as c;

header {
  margin-bottom: 10.5rem;
  position: relative;
  h2 {
    color: c.$bg;
    font-size: 5em;
  }
}

.hero {
  height: 45rem;
  margin-bottom: 9.3rem;
  position: relative;
  margin: auto;
}

.heroImage {
  height: 100%;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.menuOverlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 9.6rem;
  margin-top: 0;
  background: c.$menu;
  z-index: 2;
}

.headerContainer {
  position: relative;
  max-width: 85rem;
  margin: auto;
}

.titleContainer {
  position: relative;
  display: inline-block;
  background: c.$primary;
  padding: 2.5rem 3.7rem 3.5rem;
  top: -10.5rem;
  left: 0;
  box-shadow: c.$shadow;
  z-index: 3;
}

.headerLogo {
  position: absolute;
  width: 45rem;
  bottom: -19%;
  left: -14%;
  z-index: 2;
}

.hamburgerContainer {
  cursor: pointer;
  height: 4.7rem;
  width: 5rem;
  margin: 2.9rem 2.5rem 0rem;
}

.hamburger {
  width: 5rem;
  height: 0.6rem;
  background: c.$footer;
  transition: transform 1.5s;
  &::before,
  &::after {
    content: "";
    display: block;
    background: c.$footer;
    width: 5rem;
    height: 0.6rem;
  }
  &::before {
    transform: translateY(1.45rem);
    transition: transform 1.5s;
  }
  &::after {
    transform: translateY(2.35rem);
    transition: width 1.5s;
  }
}

.active {
  transform: translateY(1.45rem) rotate(-45deg);
  transition: transform 1.5s;
  &::before {
    transform: rotate(90deg);
    transition: transform 1.5s;
  }
  &::after {
    width: 0;
    transition: width 1.5s;
  }
}

.languageSwitcher {
  color: c.$footer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 1.2rem 2.5rem 13.6rem;
  cursor: pointer;
  display: inline-block;
}

.social {
  margin: 0.8rem 3rem;
  width: 3.8rem;
}

.headerMenu {
  position: absolute;
  width: calc(104vw * 2);
  height: calc(104vw * 2);
  background: rgba(c.$bg, 0.9);
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  z-index: -1;
  right: calc(4.8rem - 104vw);
  top: calc(4.8rem - 104vw);
  transition: clip-path 1s ease-in;
  text-align: right;
  ul {
    position: absolute;
    top: calc(50% - 4rem);
    left: calc(50% - 23rem);
    font-size: 2.15rem;
    font-weight: 700;
    
    list-style: none;
    padding: 0 4rem;
    li {
      padding: 0.35rem 0;
      a {
        color: c.$footer;
        border-bottom: 0.3rem solid rgba(c.$footer, 0);
        transition: border-bottom 0.5s ease-in-out;
      }
      a:hover {
        border-bottom: 0.3rem solid rgba(c.$footer, 1);
        transition: border-bottom 0.5s ease-in-out;
      }
    }
  }
}

.marker {
  width: 2px;
  height: 2px;
  position: absolute;
  background: cyan;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
}

.hidden {
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 1s ease-out;
}

.heroCaption {
  position: absolute;
  font-size: 1.4rem;
  right: -2rem;
  bottom: 12.4rem;
  z-index: 5;
}
