@use 'foundation/colors' as c;

header {
  margin-bottom: 1.2rem;
  position: relative;
}

.hero {
  height: 45rem;
  margin-bottom: 9.3rem;
  position: relative;
  margin: auto;
}

.heroImage {
  height: 100%;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.colorLogo {
  width: 12rem;
}

.logoContainer {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  z-index: 3;
  // background: rgba(c.$lightgrey, 0.8);
  background: radial-gradient(circle at center, rgba(c.$lightgrey, 0.8) 30%, transparent 70%);
  // padding: 0.9rem 0.7rem 0.5rem 0.7rem;
  padding: 3rem 2.6rem 2.6rem 2.8rem;
  border-radius: 50%;
}

.menuOverlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 19.2rem;
  margin-top: 0;
  background: rgba(c.$lightgrey, 0.87);
  background: 
    linear-gradient(90deg, 
      rgba(c.$lightgrey,0.87) 0%,
      rgba(c.$lightgrey,0.87) 50%,
      rgba(c.$lightgrey,0) 100%);
  z-index: 2;
}

.hamburgerContainer {
  cursor: pointer;
  height: 4.7rem;
  width: 5rem;
  margin: 2.9rem 2.4rem 0rem;
}

.hamburger {
  position: relative;
  z-index: 1;
  width: 5rem;
  height: 0.6rem;
  background: c.$lightheading;
  transition: transform 0.5s;
  &::before,
  &::after {
    content: "";
    display: block;
    background: c.$lightheading;
    width: 5rem;
    height: 0.6rem;
  }
  &::before {
    transform: translateY(1.45rem);
    transition: transform 0.5s;
  }
  &::after {
    transform: translateY(2.35rem);
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }
}

.active {
  transform: translateY(1.45rem) rotate(-45deg);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  &::before {
    transform: rotate(90deg);
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }
  &::after {
    transform: translateY(-0.6rem);
    transition: transform 0.5s;
  }
}

.languageSwitcher {
  color: c.$lightheading;
  font-size: 3.6rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 1.2rem 2.4rem 13.6rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.social {
  margin: 0.8rem 3rem;
  width: 3.8rem;
  position: relative;
  z-index: 1;
}

.headerMenu {
  position: absolute;
  width: calc(104vw * 2);
  height: calc(104vw * 2);
  background: rgba(c.$bg, 0.9);
  border-radius: 50%;
  z-index: 1;
  right: calc(4.8rem - 104vw + 9.6rem);
  top: calc(4.8rem - 104vw);
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 1s ease-out;
  text-align: left;
  ul {
    position: absolute;
    top: calc(50% - 2.3rem);
    right: calc(50% - 25.5rem);
    font-size: 2.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    list-style: none;
    padding: 0 4rem;
    li {
      padding: 0.35rem 0;
      a {
        color: c.$lightheading;
        border-bottom: 0.13em solid rgba(c.$lightheading, 0);
        transition: border-bottom 0.5s ease-in-out;
      }
      a:hover {
        border-bottom: 0.13em solid rgba(c.$lightheading, 1);
        transition: border-bottom 0.5s ease-in-out;
      }
    }
  }
}

.isActive {
  clip-path: circle(50% at 50% 50%);
  transition: clip-path 1s ease-in;
}

.heroCaption {
  font-size: 1.6rem;
  z-index: 5;
  width: 89%;
  margin: auto;
  text-align: right;
  margin-bottom: 5rem;
}
