
@use 'foundation/colors' as c;

.brand {
  font-family: "Halis";
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.96;
}

.introHr {
  position: absolute;
  top: 7.5rem;
  left: -4rem;
  height: 0.45rem;
  width: 100rem;
  background: c.$primary;
}

.introText {
  position: relative;
  padding-top: 6.9rem;
}

.sideImageContainer {
  position: absolute;
  bottom: 0;
  left: -19rem;
  font-size: 1.4rem;
  line-height: 1;
  text-align: right;
}

.sideImage {
  height: 31.7rem;
  width: auto;
}

.sectionContainer {
  position: relative;
  padding-top: 11rem;
  margin: auto;
  width: 108rem;
}

.sectionHero {
  height: 45rem;
  max-width: 108rem;
  width: 100vw;
  margin: auto;
  z-index: -5;
}

.sectionHeroCaption {
  position: absolute;
  top: 7rem;
  right: 10rem;
}

.sectionContent {
  display: flex;
  // gap: 6rem;
  width: 97rem;
  margin: auto;
  z-index: 4;
}

.sectionText {
  margin-left: 6rem;
}

.sectionInset {
  border: 0.4rem solid c.$bg;
  margin-top: -7.5rem;
  box-shadow: c.$shadow;
  height: 46.5rem;
  width: 31rem;
}

.sectionTitleContainer {
  position: relative;
  right: -15rem;
  display: inline-block;
  background: c.$primary;
  padding: 2.5rem 3.7rem 3.5rem;
  margin: -9.5rem 0 6.2rem;
  box-shadow: c.$shadow;
  h2 {
    color: c.$bg;
    font-size: 5rem;
  }
}

.sectionCta {
  position: relative;
}

.ctaHrRight {
  position: absolute;
  bottom: 1.8rem;
  left: -30rem;
  height: 0.45rem;
  width: 74rem;
  background: c.$primary;
}
