
@use 'foundation/colors' as c;

.visitContainer {
  width: 81.25%;
  margin: auto;
}

.spacesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 10rem;
  text-align: right;
}

.spacesGrid img {
  aspect-ratio: 1/1;
}

.spacesTextGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem 5rem;
  margin-bottom: 10rem;
}