
@use 'foundation/colors' as c;

.visitContainer {
  width: 81.25%;
  margin: auto;
}

.spacesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 10rem;
  text-align: right;
}

.spacesTextGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem 5rem;
  margin-bottom: 10rem;
}

.googleMap {
  width: 100%;
  height: calc(100vh - 30rem);
  margin: 20rem 0 -23rem 0;
  filter: grayscale(100%);
}
