
@use 'foundation/colors' as c;
@use "foundation/breakpoints" as b;

.visitContainer {
  width: 81.25%;
  margin: auto;
}

.spacesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 9rem auto 10rem;
  text-align: right;
  @include b.mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(sm) {
    grid-template-columns: 1fr;
  }
}

.spacesTextGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 5rem;
  margin-bottom: 10rem;
  h4 {
    padding-top: 5rem;
  }
  @include b.mq(xl) {
    grid-template-columns: 1fr;
  }
}

.spacesText {
  @include b.mq(xl) {
    max-width: 730px;
  }
}

.googleMap {
  width: 100%;
  height: calc(100vh - 30rem);
  margin: 20rem 0 -23rem 0;
  filter: grayscale(100%);
}

.locationPin {
  width: 4rem;
}
