
@use "sass:map";

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media only screen and (max-width: $size) {
    @content;
  }
}
