@use './base/colors' as c;
@use './base/breakpoints' as b;

.container {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.title {
  width: 75%;
  margin: 0 auto;
  @include b.mq(lg) {
    width: 81.25%;
  }
  @include b.mq(md) {
    width: 90%;
  }
}

.header {
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  gap: 3.3vw;
  width: 100%;
  margin-block: 0.5rem 8rem;
  @include b.mq(md) {
    grid-template-columns: 1fr;
    margin-block: -2vw 8rem;
  }
}

.headerContent {
  flex-direction: column;
  height: 100%;
}

.type {
  font-size: 1.65vw;
  font-weight: 500;
  line-height: 1;
  color: c.$grey-700;
  @include b.mq(lg) {
    font-size: 2.5vw;
  }
  @include b.mq(md) {
    margin-block: 1rem 3rem;
    font-size: 2.5rem;
  }
}

.subtitle {
  align-self: start;
  margin-block: 0;
  margin-bottom: 1rem;
  font-size: 1.65vw;
  color: c.$grey-600;
  @include b.mq(lg) {
    font-size: 2.5vw;
  }
  @include b.mq(md) {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}

.h1 {
  font-size: 2.65vw;
  font-weight: 500;
  line-height: 1.2;
  text-transform: unset;
  @include b.mq(lg) {
    font-size: 4vw;
  }
  @include b.mq(md) {
    margin-bottom: 4rem;
    font-size: clamp(3.6rem, 5.5vw, 4.2em);
  }
}

.headerLink {
  align-self: end;
  margin: 0;
  @include b.mq(md) {
    font-size: 2.5rem;
  }
}

.briteLink {
  margin-top: 6rem;
}

.backLink {
  margin-block: 6.5rem -6.5rem;
}
