@use "foundation/colors" as c;
@use "foundation/breakpoints" as b;

.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-column {
  background: white;
}

.right-column {
  background: c.$grey-950;
  color: c.$grey-000;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
}
