@use "foundation/colors" as c;
@use "foundation/breakpoints" as b;

.text{
  &__left,
  &__right {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    p {
      font-size: 2.5rem;
      padding: 4rem;
    }
  }
  &__right {
    &--col-r {
      color: c.$grey-000;
      background: c.$grey-950;
    }
    &--col-l {
      display: grid;
      place-items: center;
    }
  }
  &__image {
    width: 65%;
    height: 75vh;
    overflow: hidden;
  }
}
