@use "foundation/colors" as c;
@use "foundation/breakpoints" as b;

.text{
  &__left,
  &__right {
    // height: 100vh;
    display: flex;
    // overflow: hidden;
    p {
      font-size: 3rem;
      padding: 4rem;
    }
  }
  &__right {
    &--col-l,
    &--col-r {
      width: 50%;
    }
    &--col-r {
      color: c.$grey-000;
      background: c.$grey-950;
    }
    &--col-l {
      display: grid;
      place-items: center;
    }
  }
  &__image {
    width: 65%;
    height: 75vh;
    overflow: hidden;
  }
}
