.title {
  padding: 50vh 0;
  h1,
  h2 {
    font-weight: 700;
    text-align: center;
  }
  h1 {
    font-size: 12rem;
    // text-transform: uppercase;
    margin: 0.2em;
  }
  h2 {
    font-size: 5rem;
  }
}
