@use "./base/colors" as c;
@use "./base/breakpoints" as b;

.container {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

// .title {
//   width: 75%;
//   margin: 0 auto;
//   @include b.mq(lg) {
//     width: 81.25%;
//   }
// }

.title {
  width: 75%;
  margin: 0 auto;
  @include b.mq(lg) {
    width: 81.25%;
  }
}

.header {
  width: 100%;
  gap: 5rem;
  margin-block: 0.5rem 8rem;
  grid-template-columns: 1fr 1fr;
}

.h1 {
  font-size: 4rem;
  text-transform: unset;
  font-weight: 500;
  line-height: 1.2;
  margin-block: -6rem 0rem;
}

.subtitle {
  font-size: 2.5rem;
  margin-block: 0;
  color: c.$grey-600;
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}

.headerLink {
  align-self: end;
  margin: 0;
}

.briteLink {
  margin-top: 6rem;
}

.backLink {
  margin-block: 6.5rem -6.5rem;
}
