@use "./base/colors" as c;
@use "./base/breakpoints" as b;

.sidebarContainer {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.portableContainer {
  width: 75%;
  margin: 0 auto;
  @include b.mq(lg) {
    width: 81.25%;
  }
}

.exhibitionPreviewGrid {
  width: 81.25%;
  @include b.mq(md) {
    flex-direction: column;
  }
}

.exhibitionPreview {
  width: 50%;
  margin-top: 0;
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
  @include b.mq(md) {
    width: 100%;
  }
}

.gridCaption {
  font-size: 1.8rem;
  color: c.$grey-700;
  text-align: right;
  margin: 0.6em 0 0.6em;
}

.exhibitionGrid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  width: 81.25%;
  margin: auto;
  z-index: 5;
  @include b.mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(sm) {
    grid-template-columns: 1fr;
  }
}
