@use './base/colors' as c;
@use './base/breakpoints' as b;

.container {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.title {
  width: 75%;
  margin: 0 auto;
  @include b.mq(lg) {
    width: 81.25%;
  }
}

.subtitle {
  margin-block: 0.5em;
  font-size: 3rem;
  color: c.$grey-600;
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}

.heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.47;
  color: c.$grey-550;
  @include b.mq(sm) {
    font-size: 2rem;
  }
}

.exhibitionGrid {
  z-index: 5;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 3rem;
  width: 81.25%;
  margin: auto;
  @include b.mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(sm) {
    grid-template-columns: 1fr;
  }
}

.twoCols {
  grid-template-columns: 1fr 1fr;
}

.pastExhibitions {
  margin-top: 6rem;
}

.caption {
  font-size: 1.8rem;
  color: c.$grey-550;
  &:last-of-type {
    margin-block: 0.48em 1em;
  }
  &:first-of-type {
    margin-block: 0.88em 0.48em;
    line-height: 1.4;
  }
}

.loadMore {
  display: block;
  color: c.$grey-650;
  margin-inline: auto;
  margin-top: 5rem;
  font-weight: 500;
  font-size: 2.8rem;
  padding: 1rem 2rem;
  background-color: c.$grey-050;
  transition:
    color 0.5s ease-in-out,
    background 0.5s ease-in-out;
  &:hover {
    color: c.$grey-700;
    background-color: c.$grey-100;
    transition:
      color 0.5s ease-in-out,
      background 0.5s ease-in-out;
  }
}
