@use './base/breakpoints' as b;
@use './base/colors' as c;

.footer {
  z-index: 0;
  margin-top: 16rem;
  background-color: rgba(c.$grey-050, 0.8);
  @include b.mq(sm) {
    margin-top: 12rem;
  }
}

.footerContainer {
  grid-template-columns: auto auto;
  width: 81.25%;
  padding: 5rem 0 1.3rem;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
    width: 90%;
  }
  @include b.mq(md) {
    width: 90%;
  }
  @include b.mq(sm) {
    width: 90%;
  }
}

.footerText {
  padding-bottom: 1.3rem;
  font-size: 2rem;
  line-height: 1.4;
  color: c.$grey-600;
  @include b.mq(md) {
    padding-bottom: 0.6rem;
    font-size: 2rem;
  }
}

.footerLink {
  font-weight: 400;
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: rgba(c.$grey-500, 0);
  background-color: transparent;
  transition: text-decoration-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: rgba(c.$grey-500, 1);
    background-color: transparent;
    transition: text-decoration-color 0.3s ease-in-out;
  }
}

.copy {
  @include b.mq(lg) {
    display: none;
  }
}

.footerRight {
  justify-content: right;
  @include b.mq(lg) {
    gap: 2rem;
  }
  @include b.mq(sm) {
    justify-content: center;
  }
}

.signup {
  margin-block: -0.7rem 0;
  @include b.mq(sm) {
    justify-content: center;
    width: 90vw;
  }
}

.signupHeading {
  display: inline-block;
  width: 100%;
  margin-block: 0 -4rem;
  font-size: 2rem;
  color: c.$grey-600;
  text-align: right;
  @include b.mq(md) {
    margin-block: 3rem -4rem;
    font-size: 2rem;
    text-align: left;
  }
}

.signupForm {
  display: block;
  margin-top: -0.8rem;
  text-align: right;
  @include b.mq(md) {
    text-align: left;
  }
}

.signupInput {
  width: 48rem;
  height: 6rem;
  padding: 0.85em 1.5em;
  margin-block: -1rem 0;
  font-size: 2.2rem;
  color: c.$grey-550;
  background-color: white;
  border: 0;
  border: 0.14em solid c.$grey-400;
  @include b.mq(lg) {
    margin-block: -1rem 3rem;
  }
  @include b.mq(md) {
    width: calc(100% - 6rem);
    margin-block: -1rem 3rem;
    font-size: 2rem;
  }
  @include b.mq(sm) {
    width: calc(100% - 5rem);
    height: 5rem;
    padding: 0.85em 1em;
  }
}

.signupSubmit {
  width: 6rem;
  height: 6rem;
  padding: 1.2rem;
  background-color: c.$grey-400;
  border: 0;
  transform: translateY(2.25rem);
  @include b.mq(md) {
    transform: translateY(2.35rem);
  }
  @include b.mq(sm) {
    width: 5rem;
    height: 5rem;
    transform: translateY(1.85rem);
  }
}

.funderLogos {
  align-self: center;
  justify-content: right;
  @include b.mq(md) {
    justify-content: left;
    margin-bottom: 3rem;
  }
  @include b.mq(sm) {
    flex-direction: column;
    gap: 2rem;
  }
}

.logosRight {
  justify-content: right;
  @include b.mq(sm) {
    justify-content: unset;
    margin-top: 2rem;
  }
}

.funderLogo {
  width: auto;
  height: 6rem;
  padding-left: 3rem;
  @include b.mq(md) {
    height: 5.2rem;
  }
}

.first {
  padding-left: 0;
}

.second {
  @include b.mq(sm) {
    padding-left: 0;
  }
}

.acw,
.wg,
.gtg {
  margin-top: 0;
}

.linksMenuContainer {
  align-self: end;
  padding-bottom: 3.5rem;
  @include b.mq(lg) {
    margin-top: 3rem;
  }
  @include b.mq(md) {
    display: none;
  }
}

.linksMenu {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem 3rem;
  justify-content: right;
  padding: 0;
  font-size: 1.8rem;
  list-style: none;
}

.linksMenuItem {
  margin-top: 0;
  font-size: 1.8rem;
}

.linksMenuLink {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: rgba(c.$grey-050, 0.8);
  transition: text-decoration-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: c.$grey-500;
    transition: text-decoration-color 0.3s ease-in-out;
  }
}

.smallCopy {
  display: none;
  font-size: 2rem;
  @include b.mq(lg) {
    display: block;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}
