.imageContainer {
  inset: 0;
  z-index: 2;
}

.image {
  opacity: 0;
  width: 100%;
}

.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.placeholderContainer {
  inset: 0;
}

.placeholder {
  height: 100%;
  width: 100%;
}
