@use './base/breakpoints' as b;
@use './base/colors' as c;

.header {
  margin-top: 0;
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 2;
}

.hero {
  height: 45rem;
  margin-bottom: 9.3rem;
  position: relative;
  margin: auto;
  @include b.mq(sm) {
    height: 35rem;
  }
}

.heroCaption {
  font-size: 1.6rem;
  z-index: 5;
  width: 89%;
  margin: auto;
  text-align: right;
  margin-bottom: 5rem;
  @include b.mq(md) {
    margin-bottom: 1rem;
  }
  @include b.mq(sm) {
    font-size: 1.2rem;
  }
}

.logoContainer {
  right: 1rem;
  top: 0.4rem;
  margin-top: 0;
  z-index: 3;
  background: rgba(c.$grey-000, 0.6);
  background: radial-gradient(circle at center, rgba(c.$grey-000, 0.8) 30%, transparent 50%);
  padding: 3rem 2.6rem 2.6rem 2.8rem;
  border-radius: 50%;
  @include b.mq(sm) {
    padding: 2rem 1.6rem 1.6rem 1.8rem;
  }
}


.colorLogo {
  width: 12rem;
  transition: opacity 0.3s ease;
  &:hover,
  &:active {
    opacity: 0.92;
    transition: opacity 0.3s ease;
  }
  @include b.mq(sm) {
    width: 8rem;
  }
}

.menuOverlay {
  inset: 0 auto auto 0;
  height: 45rem;
  width: 19.2rem;
  margin-top: 0;
  background: rgba(c.$grey-100, 0.8);
  background:
    linear-gradient(90deg,
      rgba(c.$grey-000,0.8) 0%,
      rgba(c.$grey-000,0.8) 50%,
      rgba(c.$grey-000,0) 100%);
  z-index: 4;
  @include b.mq(sm) {
    height: 35rem;
  }
}

.headerMenu {
  width: calc(104vw * 2);
  height: calc(104vw * 2);
  background: rgba(c.$grey-000, 0.8);
  border-radius: 50%;
  z-index: 1;
  left: calc(4.8rem - 104vw);
  top: calc(4.8rem - 104vw);
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 1s ease-out;
  text-align: left;
  ul {
    position: absolute;
    top: calc(50% - 2.5rem);
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    list-style: none;
    padding: 0 4rem;
    @include b.mq(sm) {
      right: calc(50% - 21rem);
      top: calc(50% - 3rem);
      font-size: 1.8rem;
      line-height: 1;
    }
    li {
      padding: 0.17rem 0;
      &:first-child {
        @include b.mq(sm) {
          display: none;
        }
      }
      a {
        color: c.$grey-600;
        border-bottom-color: rgba(c.$grey-500, 0);
        border-bottom-style: solid;
        border-bottom-width: 0.3rem;
        transition: border-bottom-color 0.5s ease-in-out;
      }
      a:hover,
      a:active {
        border-bottom-color: rgba(c.$grey-500, 1);
        border-bottom-style: solid;
        border-bottom-width: 0.3rem;
        transition: border-bottom-color 0.5s ease-in-out;
      }
    }
  }
  @include b.mq(sm) {
    width: calc(104vh * 2);
    height: calc(104vh * 2);
    right: calc(4.8rem - 104vh + 9.6rem);
    top: calc(4.8rem - 104vh);
  }
}

.isActive {
  clip-path: circle(50% at 50% 50%);
  transition: clip-path 1s ease-in;
}

.hamburgerContainer {
  height: 4.7rem;
  width: 5rem;
  margin: 2.9rem 2.4rem 0rem;
}

.hamburger {
  z-index: 1;
  width: 5rem;
  height: 0.6rem;
  border-radius: 0.2rem;
  background: c.$grey-600;
  transition: transform 0.5s;
  &:hover {
    background: c.$grey-650;
    &::before,
    &::after {
      background: c.$grey-650;
    }
  }
  &::before,
  &::after {
    content: "";
    display: block;
    background: c.$grey-600;
    width: 5rem;
    height: 0.6rem;
    border-radius: 0.2rem;
  }
  &::before {
    transform: translateY(1.45rem);
    transition: transform 0.5s;
  }
  &::after {
    transform: translateY(2.35rem);
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }
}

.active {
  transform: translateY(1.45rem) rotate(-45deg);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  &::before {
    transform: rotate(90deg);
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }
  &::after {
    transform: translateY(-0.6rem);
    transition: transform 0.5s;
  }
}

.languageSwitcher {
  color: c.$grey-600;
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 1.2rem 2.4rem 13.6rem;
  z-index: 1;
  &:hover {
    color: c.$grey-650;
  }
  @include b.mq(sm) {
    margin: 1.2rem 2.4rem 4rem;
  }
}

.social {
  margin: -0.2rem 3rem;
  width: 3.8rem;
  z-index: 1;
  transition: opacity 0.3s ease;
  &:hover,
  &:active {
    opacity: 0.92;
    transition: opacity 0.3s ease;
  }
}

.scrollupContainer {
  width: 5rem;
  height: 5rem;
  background: rgba(c.$grey-000, 0.9);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 6;
  padding: 1.6rem 0.8rem;
  border-radius: 3px;
  box-shadow: 2px 2px 0 rgba(black, 0.1);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 2px 2px 0 rgba(black, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover::after {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.scrollup {
  margin-top: 0;
}
