@use './base/breakpoints' as b;
@use './base/colors' as c;

.header {
  margin-block: 0 1.2rem;
  z-index: 2;
}

.hero {
  height: 45rem;
  @include b.mq(sm) {
    height: 35rem;
  }
}

.heroCaption {
  font-size: 1.6rem;
  z-index: 1;
  width: 89%;
  margin-bottom: 5rem;
  margin-inline: auto;
  @include b.mq(md) {
    margin-bottom: 1rem;
  }
  @include b.mq(sm) {
    font-size: 1.2rem;
  }
}

.logoContainer {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  margin-top: 0;
  z-index: 3;
  background-color: rgba(c.$grey-000, 0.6);
  background: radial-gradient(circle at center, rgba(c.$grey-000, 0.8) 30%, transparent 50%);
  padding: 3rem 2.6rem 2.6rem 2.8rem;
  border-radius: 50%;
  @include b.mq(sm) {
    padding: 2rem 1.6rem 1.6rem 1.8rem;
  }
}

.colorLogo {
  width: 12rem;
  transition: opacity 0.3s ease;
  &:hover,
  &:active {
    opacity: 0.92;
    transition: opacity 0.3s ease;
  }
  @include b.mq(sm) {
    width: 8rem;
  }
}

.introLogoContainer {
  padding-top: 3.4rem;
  @include b.mq(lg) {
    justify-self: right;
  }
  @include b.mq(sm) {
    padding-top: 2.7rem;
  }
}

.introLogo {
  width: 18.7rem;
  @include b.mq(sm) {
    width: 12.5rem;
  }
}

.navOverlay {
  inset: 0 auto auto 0;
  height: 45rem;
  width: 19.2rem;
  margin-top: 0;
  background-color: rgba(c.$grey-100, 0.8);
  background:
    linear-gradient(90deg,
      rgba(c.$grey-000,0.8) 0%,
      rgba(c.$grey-000,0.8) 50%,
      rgba(c.$grey-000,0) 100%);
  z-index: 2;
  @include b.mq(sm) {
    height: 35rem;
  }
}

.nav {
  width: calc(104vw * 2);
  height: calc(104vw * 2);
  inset: calc(4.8rem - 104vw) auto auto calc(4.8rem - 104vw);
  // inset: 0 auto auto 0;
  background-color: rgba(c.$grey-000, 0.8);
  border-radius: 50%;
  z-index: 1;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 1s ease-out;
  @include b.mq(sm) {
    width: calc(104vh * 2);
    height: calc(104vh * 2);
    right: calc(4.8rem - 104vh + 9.6rem);
    top: calc(4.8rem - 104vh);
  }
}

.navList {
  top: calc(50% - 2.5rem);
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  list-style: none;
  padding: 0 4rem;
  @include b.mq(sm) {
    right: calc(50% - 21rem);
    top: calc(50% - 3rem);
    font-size: 1.8rem;
    line-height: 1;
  }
}

.navItem {
  padding: 0.17rem 0;
  margin-bottom: 1rem;
  &:first-child {
    @include b.mq(sm) {
      display: none;
    }
  }
}

.navLink {
  color: c.$grey-600;
  border-bottom-color: rgba(c.$grey-500, 0);
  border-bottom-style: solid;
  border-bottom-width: 0.3rem;
  transition: border-bottom-color 0.5s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    border-bottom-color: rgba(c.$grey-500, 1);
    border-bottom-style: solid;
    border-bottom-width: 0.3rem;
    transition: border-bottom-color 0.5s ease-in-out;
  }
}

.isActive {
  clip-path: circle(50% at 50% 50%);
  transition: clip-path 1s ease-in;
}

.hamburgerContainer {
  height: 4.7rem;
  width: 5rem;
  margin: 2.9rem 2.4rem 0rem;
}

.hamburger {
  z-index: 1;
  width: 5rem;
  height: 0.6rem;
  border-radius: 0.2rem;
  background-color: c.$grey-600;
  transition: transform 0.5s;
  &:hover {
    background-color: c.$grey-650;
    &::before,
    &::after {
      background-color: c.$grey-650;
    }
  }
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: c.$grey-600;
    width: 5rem;
    height: 0.6rem;
    border-radius: 0.2rem;
  }
  &::before {
    transform: translateY(1.45rem);
    transition: transform 0.5s;
  }
  &::after {
    transform: translateY(2.35rem);
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }
}

.active {
  transform: translateY(1.45rem) rotate(-45deg);
  transition: transform 0.5s;
  transition-delay: 0.5s;
  &::before {
    transform: rotate(90deg);
    transition: transform 0.5s;
    transition-delay: 0.5s;
  }
  &::after {
    transform: translateY(-0.6rem);
    transition: transform 0.5s;
  }
}

.languageSwitcher {
  color: c.$grey-600;
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 1.2rem 2.4rem 13.6rem;
  z-index: 1;
  &:hover {
    color: c.$grey-650;
  }
  @include b.mq(sm) {
    margin: 1.2rem 2.4rem 4rem;
  }
}

.social {
  margin: -0.2rem 3rem;
  width: 3.8rem;
  z-index: 1;
  transition: opacity 0.3s ease;
  margin-block: 1rem;
  &:hover,
  &:active {
    opacity: 0.92;
    transition: opacity 0.3s ease;
  }
}

.scrollupContainer {
  width: 5rem;
  height: 5rem;
  background-color: rgba(c.$grey-000, 0.9);
  inset: auto 3rem 3rem auto;
  z-index: 6;
  padding: 1.6rem 0.8rem;
  border-radius: 3px;
  box-shadow: 2px 2px 0 rgba(black, 0.1);
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 2px 2px 0 rgba(black, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover::after {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.scrollup {
  margin-top: 0;
}

.footer {
  background-color: rgba(c.$grey-050, 0.8);
  margin-top: 16rem;
  z-index: 0;
  @include b.mq(sm) {
    margin-top: 12rem;
  }
}

.footerContainer {
  grid-template-columns: auto auto;
  width: 81.25%;
  padding: 5rem 0 1.3rem;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.footerText {
  font-size: 2rem;
  line-height: 1.4;
  padding-bottom: 1.3rem;
  color: c.$grey-600;
  @include b.mq(md) {
    font-size: 2rem;
    padding-bottom: 0.6rem;
  }
}

.footerLink  {
  background-color: transparent;
  font-weight: 400;
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: c.$grey-050;
  transition: text-decoration-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: c.$grey-500;
    transition: text-decoration-color 0.3s ease-in-out;
  }
}

.copy {
  @include b.mq(lg) {
    display: none;
  }
}

.footerRight {
  justify-content: right;
  @include b.mq(lg) {
    gap: 2rem;
  }
  @include b.mq(sm) {
    justify-content: center;
  }
}

.signup {
  margin-top: -0.7rem;
}

.signupHeading {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  margin-bottom: -4rem;
  color: c.$grey-600;
  text-align: right;
  @include b.mq(md) {
    font-size: 2rem;
    text-align: right;
  }
}

.signupForm {
  display: block;
  margin-top: -0.8rem;
  text-align: right;
  @include b.mq(md) {
    text-align: left;
  }
}

.signupInput {
  background-color: white;
  border: 0;
  width: 48rem;
  height: 6rem;
  padding: 0.85em 1.5em;
  font-size: 2.2rem;
  border: 0.14em solid c.$grey-400;
  margin-top: -1rem;
  color: c.$grey-550;
  @include b.mq(md) {
    font-size: 2rem;
    width: calc(100% - 6rem);
  }
  @include b.mq(sm) {
    height: 5rem;
    padding: 0.85em 1em;
    width: calc(100% - 5rem);
  }
}

.signupSubmit {
  background-color: c.$grey-400;
  border: 0;
  height: 6rem;
  width: 6rem;
  padding: 1.2rem;
  transform: translateY(2.25rem);
  @include b.mq(md) {
    transform: translateY(2.35rem);
  }
  @include b.mq(sm) {
    height: 5rem;
    width: 5rem;
    transform: translateY(1.85rem);
  }
}

.funderLogos {
  align-self: center;
  justify-content: right;
  @include b.mq(md) {
    justify-content: left;
  }
  @include b.mq(sm) {
    flex-direction: column;
  }
}

.logosRight {
  justify-content: right;
  @include b.mq(sm) {
    margin-top: 2rem;
  }
}

.funderLogo {
  height: 6rem;
  width: auto;
  padding-left: 3rem;
  @include b.mq(md) {
    height: 5.2rem;
  }
}

.first {
  padding-left: 0;
}

.second {
  @include b.mq(sm) {
    padding-left: 0;
  }
}

.acw,
.wg,
.gtg {
  margin-top: 0;
}

.linksMenuContainer {
  align-self: end;
  padding-bottom: 3.5rem;
  @include b.mq(md) {
    display: none;
  }
}

.linksMenu {
  list-style: none;
  font-size: 1.8rem;
  flex-direction: row;
  padding: 0;
}

.linksMenuItem {
  font-size: 1.8rem;
  margin-top: 0;
  padding-left: 3rem;
  &:first-child {
    padding: 0;
  }
}

.linksMenuLink {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: rgba(c.$grey-050, 0.8);
  transition: text-decoration-color 0.3s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: c.$grey-500;
    transition: text-decoration-color 0.3s ease-in-out;
  }
}

.smallCopy {
  font-size: 2rem;
  @include b.mq(lg) {
    display: block;
    padding-top: 2rem;
    font-size: 1.8rem;
  }
}
