@use "./base/colors" as c;
@use "./base/breakpoints" as b;

.sidebarContainer {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.portableContainer {
  width: 75%;
  margin: 0 auto;
  @include b.mq(lg) {
    width: 81.25%;
  }
}

.subTitle {
  font-size: 3rem;
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}
