@use "./base/colors" as c;
@use "./base/breakpoints" as b;

.sidebar {
  background: c.$sidebar;
  margin-top: -8rem;
  margin-bottom: -23rem;
  @include b.mq(lg) {
    display: none;
  }
}

.sidebarContent {
  padding: 6rem 5rem;
  h3 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.7em;
    color: c.$grey-700;
    @include b.mq(xl) {
      font-size: 3rem;
    }
  }
  a {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: rgba(c.$grey-050, 0.8);
    transition: text-decoration-color 0.3s ease-in-out;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: c.$grey-500;
    transition: text-decoration-color 0.3s ease-in-out;
  }
}

.sidebarMenu {
  // font-size: 2.2rem;
  line-height: 1.3;
  padding: 0;
  list-style: none;
  margin-bottom: 5rem;
  @include b.mq(xl) {
    font-size: 2rem;
  }
}

.listItem {
  margin-bottom: 1em;
  font-size: 1.8rem;
  line-height: 1.4;
}

.h3 {
  font-size: 3.1em;
  font-weight: 300;
  color: c.$grey-600;
  margin: 0;
  line-height: 1;
  @include b.mq(sm) {
    font-size: 2em;
    line-height: 1.5;
  }
}
