@use './base/colors' as c;
@use './base/breakpoints' as b;

.sidebar {
  margin-block: -8.1rem -20rem;
  background-color: c.$sidebar;
  @include b.mq(lg) {
    display: none;
  }
}

.sidebarContent {
  padding: 8rem 5rem 6rem;
  margin-block: 0;
}

.sidebarMenu {
  padding: 0;
  margin-block: 0 4rem;
  line-height: 1.3;
  list-style: none;
  @include b.mq(xl) {
    font-size: 2rem;
  }
  a {
    margin: 0;
  }
  .listHeading {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: rgba(c.$grey-050, 0.8);
    transition: text-decoration-color 0.3s ease-in-out;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-decoration-color: c.$grey-500;
      transition: text-decoration-color 0.3s ease-in-out;
    }
  }
  .time {
    text-decoration: none !important;
  }
}

.listItem {
  margin-block: 0 1rem;
  font-size: 1.7rem;
  line-height: 1.6;
  time {
    padding: 0;
    margin: 0;
    line-height: 0;
  }
}

.listHeading {
  margin-bottom: 0 1rem;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.4;
}

.h3 {
  margin-block: 0 2rem;
  font-size: 2.8em;
  font-weight: 500;
  line-height: 1.2;
  color: c.$grey-700;
  @include b.mq(xl) {
    font-size: 3rem;
  }
}
