@use './base/colors' as c;
@use './base/breakpoints' as b;

.container {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.title {
  width: 75%;
  margin: 0 auto;
  @include b.mq(lg) {
    width: 81.25%;
  }
  @include b.mq(md) {
    width: 90%;
  }
}

.subtitle {
  margin-block: 0.5em 0.4em;
  font-size: 3rem;
  color: c.$grey-600;
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}

.body {
  margin-top: 8.1rem;
}

.formGrid {
  grid-template-columns: 1fr 1fr;
  gap: 0 6rem;
  @include b.mq(lg) {
    gap: 0 3rem;
  }
  @include b.mq(md) {
    grid-template-columns: 1fr;
  }
}

.friendForm {
  margin-top: 6rem;
  label,
  input,
  textarea,
  button {
    font-size: 2.2rem;
    line-height: 1.4;
  }

  label:last-of-type {
    margin-bottom: 1.5rem;
  }

  button {
    font-size: 2.8rem;
    font-weight: 500;
    padding: 1rem 2.8rem;
    margin-top: 2rem;
  }

  textarea {
    padding: 2rem;
    width: 100%;
    border: 2px solid c.$grey-350;
  }

  input,
  textarea {
    border-bottom: 2px solid c.$grey-350;
    margin-block: 0 6rem;
    &:focus {
      border-bottom: 2px solid c.$grey-650;
    }
    &::placeholder {
      text-transform: uppercase;
      color: c.$grey-350;
      font-size: 1.8rem;
      // font-weight: 500;
      opacity: 1; /* Firefox */
    }
  }
}
