.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.justifyCenter {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.m-auto {
  margin: auto;
}

.brand {
  font-family: var(--brand);
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.noUnderline {
  text-decoration-line: none;
}

.uppercase {
  text-transform: uppercase;
}

.bgTransparent {
  background-color: transparent;
}

.pointer {
  cursor: pointer;
}

.srOnly {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.srOnly:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

