@use './base/colors' as c;
@use "./base/breakpoints" as b;

.container {
  width: 81.25%;
}

.subtitle {
  font-size: 3rem;
  margin-block: 0.5em 0.4em;
  color: c.$grey-600;
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}

.spacesGrid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 8.1rem auto 10rem;
  text-align: right;
  @include b.mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(sm) {
    grid-template-columns: 1fr;
  }
}

.caption {
  font-size: 1.8rem;
  color: c.$grey-550;
  margin-block: 0.88em 1.3em;
  line-height: 1.4;
  font-weight: 500;
}

.spacesTextGrid {
  grid-template-columns: 1fr 1fr;
  gap: 5rem 5rem;
  margin-bottom: 10rem;
  h4 {
    padding-top: 5rem;
  }
  @include b.mq(xl) {
    grid-template-columns: 1fr;
  }
}

.text {
  @include b.mq(xl) {
    max-width: 730px;
  }
}

.googleMap {
  width: 100%;
  height: calc(100vh - 30rem);
  margin: 14rem 0 -16rem 0;
  filter: grayscale(100%);
}

.pin {
  width: 4rem;
}
