@use './base/colors' as c;
@use './base/breakpoints' as b;

.container {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.title {
  width: 75%;
  margin: 0 auto;
  @include b.mq(lg) {
    width: 81.25%;
  }
  @include b.mq(md) {
    width: 90%;
  }
}

.subtitle {
  margin-block: 0.5em 0.4em;
  font-size: 3rem;
  color: c.$grey-600;
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}

.imageGrid {
  z-index: 5;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 5rem auto 0;
  @include b.mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(sm) {
    grid-template-columns: 1fr;
  }
}

.caption {
  margin-top: 2.1rem;
  font-size: 1.8rem;
  color: c.$grey-550;
  &:last-of-type {
    margin-block: 1.1rem 2.3rem;
  }
  &:first-of-type {
    margin-block: 1.1rem 0;
    line-height: 1.4;
  }
}

.calendar {
  margin-top: 2.7rem;
}

.h3 {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2;
  @include b.mq(sm) {
    font-size: 2rem;
  }
}

.calendarList {
  padding: 0;
}

.calendarItem {
  font-size: 2rem;
  line-height: 1.7;
  @include b.mq(sm) {
    font-size: 1.8rem;
  }
  div {
    &:last-of-type {
      padding-left: 2rem;
    }
  }
  a {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: rgba(c.$grey-500, 0);
    transition: text-decoration-color 0.3s ease-in-out;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-decoration-color: rgba(c.$grey-500, 1);
      transition: text-decoration-color 0.3s ease-in-out;
    }
  }
}

.longTime {
  @include b.mq(sm) {
    display: none;
  }
}

.shortTime {
  @include b.mq(sm) {
    display: block;
  }
}

.calendarTitle {
  font-weight: 500;
}

.calendarDays {
  font-weight: 400;
}

.body {
  margin-top: 8.1rem;
}
