@use "./base/colors" as c;
@use "./base/breakpoints" as b;

.container {
  grid-template-columns: 3fr 1fr;
  @include b.mq(lg) {
    grid-template-columns: 1fr;
  }
}

.title {
  width: 75%;
  margin: 0 auto 0;
  @include b.mq(lg) {
    width: 81.25%;
  }
}

.subtitle {
  font-size: 3rem;
  margin-block: 0.5em 0.4em;
  color: c.$grey-600;
  @include b.mq(sm) {
    font-size: 2.6em;
  }
}

.imageGrid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 5rem auto 0;
  z-index: 5;
  @include b.mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include b.mq(md) {
    width: 90%;
    grid-template-columns: 1fr;
  }
}



.caption {
  font-size: 1.8rem;
  color: c.$grey-550;
  &:first-of-type {
    line-height: 1.4;
    margin-block: 0.88em 0.48em;
    font-weight: 500;
  }
  &:last-of-type {
    margin-block: 0.48em 1.3em;
  }
}

.calendar {
  margin-top: 2.7rem;
}

.h3 {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.7;
}

.calendarList {
  padding: 0;
}

.calendarItem {
  font-size: 2.2rem;
  line-height: 1.7;
  div {
    &:last-of-type {
      padding-left: 2rem;
    }
  }
}

.body {
  margin-top: 8.1rem;
}
