@font-face {
  font-family: Halis;
  font-weight: 800;
  src: url('/fonts/halisr-black-mwa.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Halis;
  font-weight: 500;
  src: url('/fonts/halisr-book-mwa.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/brandongrotesque-black-lat.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-weight: 700;
  src: url('/fonts/brandongrotesque-bold-lat.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-weight: 500;
  src: url('/fonts/brandongrotesque-medium-lat.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-weight: 400;
  src: url('/fonts/brandongrotesque-regular-lat.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/brandongrotesque-regularitalic-lat.woff2') format('woff2');
  font-display: swap;
}
