
@use "foundation/colors" as c;
@use "foundation/breakpoints" as b;

header {
  margin-top: 0;
  margin-bottom: 1.2rem;
  position: relative;
  z-index: 2;
}

.hero {
  height: 45rem;
  margin-bottom: 9.3rem;
  position: relative;
  margin: auto;
  @include b.mq(sm) {
    height: 35rem;
  }
}

.heroImage {
  height: 100%;
  margin-top: 0;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.colorLogo {
  width: 12rem;
  transition: opacity 0.3s ease;
  &:hover,
  &:active {
    opacity: 0.92;
    transition: opacity 0.3s ease;
  }
  @include b.mq(sm) {
    width: 8rem;
  }
}

.logoContainer {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  margin-top: 0;
  z-index: 3;
  background: rgba(c.$grey-000, 0.6);
  background: radial-gradient(circle at center, rgba(c.$grey-000, 0.8) 30%, transparent 50%);
  padding: 3rem 2.6rem 2.6rem 2.8rem;
  border-radius: 50%;
  @include b.mq(sm) {
    padding: 2rem 1.6rem 1.6rem 1.8rem;
  }
}

.heroCaption {
  font-size: 1.6rem;
  z-index: 5;
  width: 89%;
  margin: auto;
  text-align: right;
  margin-bottom: 5rem;
  @include b.mq(md) {
    margin-bottom: 1rem;
  }
  @include b.mq(sm) {
    font-size: 1.2rem;
  }
}
