.heading2Xl {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

.headingXl {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: -0.05rem;
}

.headingLg {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.4;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: hsl(0, 0%, 40%);
}
