.twitterContainer {
  width: 591px;
  margin-bottom: 2.4rem;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.65;
  letter-spacing: 0.2px;
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(204, 11%, 91%);
  border-radius: 3px;
  text-rendering: optimizelegibility;
}

.twitterTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.38;
  color: hsl(220, 46%, 41%);
}

.twitterTime {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.34;
  color: hsl(216, 7%, 41%);
}

.twitterDesc {
  display: inline-block;
  height: 10px;
  background: hsl(216, 13%, 92%);
  border-radius: 5px;
}

.twitterPostPreview {
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 1.3em;
  color: hsl(204, 11%, 18%);
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(203, 18%, 80%);
  border-radius: 16px;
  -webkit-font-smoothing: antialiased;
}

.twitterPreviewImage {
  width: 100%;
  height: 265px;
  border-bottom: 1px solid hsl(203, 18%, 80%);
}

.twitterPreviewImage img {
    object-fit: cover;
    width: 100%;
  }

.twitterPreviewContent {
  padding: 10px;
}

.twitterPreviewMeta {
  width: 487px;
  margin-top: 2px;
  margin-bottom: 4px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3125;
  color: hsl(208, 18%, 44%);
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.twitterPreviewTitle {
  width: 487px;
  max-height: 20px;
  margin: 0 0 2px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: hsl(210, 25%, 8%);
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.twitterPreviewDesc {
  width: 100%;
  max-width: 487px;
  max-height: 40px;
  margin-top: 5px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: hsl(208, 18%, 44%);
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.twitterPreviewMeta svg {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.twitterReactions {
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  justify-content: space-between;
  max-width: 425px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  color: hsl(208, 18%, 44%);
}

.twitterReactions svg {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  fill: hsl(208, 18%, 44%);
}
